.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 375px;
  height: 812px;
  position: relative;
}

.screen .status-bars {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 0px 0px;
  position: absolute;
  top: 0;
  left: -7px;
}

.screen .statusbar-ios {
  position: relative;
  width: 390px;
  height: 47px;
}

.screen .left-side {
  position: absolute;
  width: 54px;
  height: 21px;
  top: 14px;
  left: 27px;
}

.screen .statusbars-time {
  position: relative;
  height: 21px;
  border-radius: 24px;
}

.screen .time {
  position: absolute;
  width: 54px;
  top: 1px;
  left: 0;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--label-colorlightprimary);
  font-size: var(--body-bold-font-size);
  text-align: center;
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.screen .right-side {
  position: absolute;
  width: 78px;
  height: 13px;
  top: 19px;
  left: 286px;
}

.screen .icon-mobile-signal {
  position: absolute;
  width: 18px;
  height: 12px;
  top: 0;
  left: 0;
}

.screen .wifi {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 0;
  left: 26px;
}

.screen .statusbar-battery {
  position: absolute;
  width: 27px;
  height: 13px;
  top: 0;
  left: 51px;
}

.screen .overlap-group {
  position: absolute;
  width: 25px;
  height: 14px;
  top: -1px;
  left: 0;
}

.screen .outline {
  position: absolute;
  width: 25px;
  height: 13px;
  top: 1px;
  left: 0;
}

.screen .percentage {
  position: absolute;
  height: 13px;
  top: 0;
  left: 6px;
  font-family: "SF Pro Text-Bold", Helvetica;
  font-weight: 700;
  color: var(--label-colordarkprimary);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.06px;
  line-height: 13px;
  white-space: nowrap;
}

.screen .battery-end {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 5px;
  left: 26px;
}

.screen .text-wrapper {
  position: absolute;
  top: 79px;
  left: 23px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-2 {
  top: 138px;
  left: 80px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 17px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-3 {
  width: 76px;
  top: 137px;
  left: 276px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #797979;
  font-size: 14px;
  text-align: right;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .vector {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 83px;
  left: 122px;
}

.screen .overlap {
  position: absolute;
  width: 329px;
  height: 108px;
  top: 194px;
  left: 23px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.screen .FINANCE {
  left: 10px;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 16px;
}

.screen .id {
  position: absolute;
  width: 56px;
  height: 67px;
  top: 4px;
  left: 10px;
}

.screen .CALENDAR {
  left: 178px;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 16px;
}

.screen .line {
  width: 1px;
  height: 47px;
  top: 30px;
  left: 165px;
  position: absolute;
  object-fit: cover;
}

.screen .overlap-2 {
  position: absolute;
  width: 23px;
  height: 50px;
  top: 28px;
  left: 113px;
}

.screen .text-wrapper-4 {
  top: 45px;
  left: 0;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.screen .text-wrapper-5 {
  left: 0;
  position: absolute;
  width: 23px;
  top: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-3 {
  position: absolute;
  width: 34px;
  height: 50px;
  top: 28px;
  left: 266px;
}

.screen .text-wrapper-6 {
  left: 6px;
  position: absolute;
  width: 23px;
  top: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .p {
  top: 316px;
  left: 33px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  line-height: 45px;
  position: absolute;
  letter-spacing: 0;
}

.screen .span {
  font-weight: 500;
  color: #979797;
}

.screen .text-wrapper-7 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
}

.screen .div-2 {
  top: 531px;
  left: 33px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 16px;
  line-height: 45px;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-8 {
  color: #979797;
}

.screen .text-wrapper-9 {
  color: #000000;
  font-size: 18px;
}

.screen .group {
  position: absolute;
  width: 375px;
  height: 76px;
  top: 723px;
  left: 0;
  background-color: #ffffff;
}

.screen .group-2 {
  position: relative;
  width: 312px;
  height: 43px;
  top: 14px;
  left: 38px;
}

.screen .img {
  position: absolute;
  width: 24px;
  height: 26px;
  top: 0;
  left: 0;
}

.screen .vector-2 {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 1px;
  left: 278px;
}

.screen .vector-3 {
  position: absolute;
  width: 22px;
  height: 24px;
  top: 0;
  left: 209px;
}

.screen .vector-4 {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 2px;
  left: 69px;
}

.screen .vector-5 {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 1px;
  left: 135px;
}

.screen .text-wrapper-10 {
  width: 23px;
  height: 12px;
  top: 31px;
  left: 0;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-11 {
  width: 25px;
  height: 12px;
  top: 31px;
  left: 67px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-12 {
  width: 32px;
  height: 12px;
  top: 31px;
  left: 133px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-13 {
  width: 25px;
  height: 12px;
  top: 31px;
  left: 208px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-14 {
  width: 25px;
  height: 12px;
  top: 31px;
  left: 277px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .line-2 {
  width: 319px;
  height: 1px;
  top: 512px;
  left: 33px;
  position: absolute;
  object-fit: cover;
}

.screen .group-3 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 128px;
  left: 23px;
  background-color: #ffffff;
  border-radius: 21px;
  background-image: url(./img/vector-6.svg);
  background-size: 100% 100%;
}
